/* Reset some default styles */
h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

header {
    background-color: #716a6a;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    border-bottom: 2px solid #fff;
    color: black;
}

#account-section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #716a6a;
    color: white;
}

/* Add additional styles for your account management content */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    width: 200px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}