body {
    font-family: 'Arial', sans-serif;
    color:black;
    box-sizing: border-box;
    background-image: url("../Photos/build.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    color: #333;
}

.dropdown {
    display: inline-block;
    cursor: pointer;
}

.icon-bar {
    width: 30px;
    height: 3px;
    background-color: #e5e1dcf9;
    margin: 6px;
    transition: 0.4s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #373836;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(56, 55, 52, 0.893);
    z-index: 1;
}

.dropdown:hover .icon-bar {
    background-color: #1e251d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #11191373;
    color: #fff;
    transition: 0.4s ease-in-out;
}

/* General Styles for Header and Navigation */
header {
    background-color: rgba(0, 0, 0, 0.8); /* Add your desired background color */
    color: rgb(192, 0, 0); /* Set text color to white or your preferred color */
    padding: 5px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:15px ;
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;background-color: #333;
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.3);
    padding: 10px;
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
}
  
nav li {
    display: flex;
    margin-right: 20px; /* Adjust spacing between menu items as needed */
}
  
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.large-link {
    font-size: 18px; /* Set the default font size */
    padding: 10px 20px; /* Set padding to increase the clickable area */
    text-decoration: none; /* Remove underline for the link */
    display: inline-block; /* Make the link behave like a block element */
    transition: transform 0.3s ease-in-out;
  }
  
nav a:hover {
    border-bottom: 2px solid #fff; /* Add an underline on hover */
    color : rgba(255, 0, 0, 0.912);
    transform: scale(1.5);
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center the list items vertically */
        margin-left: 0;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

div a {
    text-decoration: none;
}
div a:hover{
    color: black;
}

section {
    padding: 2em;
}

p, h1, h2{
    color: #232121;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 255, 26);
    backdrop-filter: blur(100px);
    
}

label {
    color: #fff;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, textarea {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this case) for transparency */
    border: 1px solid #ccc; /* You can customize the border style */
    padding: 10px; 
}

label:hover{
    box-shadow: 0 0 10px rgb(39, 59, 41);
}

button {
    backdrop-filter: blur(30px);
    background-color: #65aef1;
    color: #f2e0e0;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #324db9;
}