body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #333;
}

.dropdown {
    display: inline-block;
    cursor: pointer;
}

.icon-bar {
    width: 30px;
    height: 3px;
    background-color: #e5e1dcf9;
    margin: 6px;
    transition: 0.4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #373836;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(56, 55, 52, 0.893);
    z-index: 1;
}

.dropdown:hover .icon-bar {
    background-color: #1e251d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #11191373;
    color: #fff;
}

/* General Styles for Header and Navigation */
header {
    background-color: rgba(128, 128, 128, 0.101); /* Add your desired background color */
    color: white; /* Set text color to white or your preferred color */
    padding: 5px; /* Adjust padding as needed */
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between menu items as needed */
}
  
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.large-link {
    font-size: 18px; /* Set the default font size */
    padding: 10px 20px; /* Set padding to increase the clickable area */
    text-decoration: none; /* Remove underline for the link */
    display: inline-block; /* Make the link behave like a block element */
    transition: transform 0.5s ease-in-out;
  }
  
nav a:hover {
    border-bottom: 2px solid #fff; /* Add an underline on hover */
    color : rgba(167, 237, 164, 0.912);
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center the list items vertically */
        margin-left: 0;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.lis{
    color: #fff;
}

div a {
    text-decoration: none;
}
div a:hover{
    color: black;
}

section {
    padding: 2em;
}

p, h1, h2{
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    background-color: #161616;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(39, 59, 41);
}

label {
    color: #fff;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #535151;
    border-radius: 4px;
}

label:hover{
    box-shadow: 0 0 10px rgb(39, 59, 41);
}

button {
    background-color: #f6f3f3;
    color: #f2e0e0;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}